name: Deploy CloudFormation Template

on:
  push:
    branches:
      - main

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::781346609033:role/GitHubActionCloudFormationRole
          aws-region: eu-west-2

      - name: Deploy to AWS CloudFormation
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          name: aws-vpn-stack
          template: src/infra/template.yml
          parameter-overrides: "KeyPairName=${{ secrets.AWS_KEY_PAIR_NAME }}"
          no-fail-on-empty-changeset: "1"
